h1 {
  font-size: 4.375rem;
  line-height: 4.6875rem;
  font-weight: 700;
  text-shadow: 0 2px 1px rgba(54, 54, 54, .2);
  margin: 0;
}

button {
  padding: 15px 20px;
  border: 1px solid #0078bf;
  border-radius: 3px;
  background: #0078bf;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.125rem;
  font-size: .8125rem;
  letter-spacing: 1px;
}
